
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4c8fe6;
  min-height: 100vh;
  display: flex;
  font-family:sans-serif;
  flex-direction: column;
  overflow-x: hidden;
}


.container{
  width: 1270px;
  padding: 0 15px;
}


.site-header{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.308);
}

.style-none{
  list-style-type: none;
}
.text-none{
  text-decoration: none;
}
.nav-item{
  padding: 40px 0;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  line-height: 1.25em;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease;
}
.nav-text{
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  line-height: 1.25em;
  font-weight: 700;
}
.nav-link{
  /* padding-bottom: 3px; */
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  line-height: 1.25em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;

}
.nav-link::after{
  margin-top: 2px;
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  display: block;
  background-color: #D88F0F;
  opacity: 0;
  transition: all 0.4s ease;
}
.nav-item:hover .nav-link::after{
  opacity: 1;
  width: 100%;
}

.bx-chevron-down,
.bx-search, 
.bx-user,
.bx-shopping-bag{
  font-size: 20px;
  margin-left: 2px;
}
.bx-search, 
.bx-user,
.bx-shopping-bag{
  color: #fff;
  font-size: 27px;
}
.bx-search, 
.bx-user{
  margin-right: 20px;
}
.home-drop-box{
  position: absolute;
  top: 140%;
  left: -170%;
  padding: 20px;
  width: 850px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-bottom-left-radius:  5px;
  border-bottom-right-radius:  5px;
  display: none;
  animation: header-anim;
  animation-duration: 0.5s;
  transform: translate(0, -20px);
  transition: all 0.5s ease;
}
.hover-item{
  position: relative;
  transition: all 0.5s ease;
}
.hover-item:nth-child(1):hover .home-drop-box{
  top: 115%;
  display: block;
}
.hover-item:nth-child(1) .home-drop-box .home-list .home-item:hover  img{
    transform:scale(1.2);
}
.hover-item:nth-child(1) .home-drop-box .home-list .home-item:hover  h4{
    color: #4c8fe6;
}

.home-item img{
  transition: all 0.5s;
  border-radius: 5px;
  margin-bottom: 10px;
}
.home-item{
  transition: all 0.5s ease;
}
.Home-1{
  text-align: center;
  color: #535353;
  font-size: 14px;
  font-weight: 600;
  font-weight: bold;
  text-transform: uppercase;
}
.Home-2{
  text-align: center;
  color: #535353;
  font-size: 14px;
  font-weight: 600;
  font-weight: bold;
  text-transform: uppercase;
}
.Home-1::after{
  margin-top: 2px;
  content: '';
  width: 50%;
  height: 2px;
  border-radius: 2px;
  display: block;
  background-color: #D88F0F;
  margin: 0 auto;
}


@keyframes header-anim{
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(0, -20px);
  }
}





.shop-drop-box{
  position: absolute;
  top: 140%;
  left: -620%;
  padding: 20px;
  width: 850px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-bottom-left-radius:  5px;
  border-bottom-right-radius:  5px;
  display: none;
  animation: header-anim;
  animation-duration: 0.5s;
  transform: translate(0, -20px);
  transition: all 0.5s ease;

}
.shop-item:not(:nth-child(3), :nth-child(6)){
 margin-right: 20px;
}

.shop-item img{
  margin-bottom: 10px;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.shop-item h4{
  margin-bottom: 10px;
}


.shop-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hover-item:nth-child(3):hover .shop-drop-box{
  top: 115%;
  display: block;
}
.hover-item:nth-child(3) .shop-drop-box .shop-list .shop-item:hover  img{
    transform:scale(1.1);
}
.hover-item:nth-child(3) .shop-drop-box .shop-list .shop-item:hover h4{
    color: #4c8fe6;
}



.category-drop-box{
  position: absolute;
  top: 140%;
  left: -230%;
  padding: 20px;
  width: 850px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-bottom-left-radius:  5px;
  border-bottom-right-radius:  5px;
  display: none;
  animation: header-anim;
  animation-duration: 0.5s;
  transform: translate(0, -20px);
  transition: all 0.5s ease;
}
.categ-title{
  font-size: 16px;
  font-weight: 600;
  color: #535353;
  list-style-type: none;
  text-transform: uppercase;
}
.categ-title::after{
  margin-top: 4px;
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 2px;
  display: block;
  background-color: #D88F0F;
  margin-bottom: 25px;
}
.categ-list{
  padding: 15px;
  list-style-type: square;
  color: #535353;
}
.categ-list-big{
  list-style-type: none;
  margin-bottom: 20px;
}


.categ-item{
  transition: all 0.2s ease;
  margin-bottom: 15px;
}
.categ-link{
  font-size: 16px;
  color: #535353;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.categ-link:hover{
  color: #D88F0F;
}
.hover-item:nth-child(2):hover .category-drop-box{
  top: 115%;
  display: block;
}
.hover-item:nth-child(2) .category-drop-box .categ-list-big .categ-item-big .categ-list .categ-item:hover{
  color: #D88F0F;
}
.category-drop-box img{
  transition: all 0.5s ease;
}
.hover-item .category-drop-box img:hover{
  transform: scale(0.9);
}

.cehron-right{
  margin: 0;
  color: #535353;
}


.nimadir{
  list-style-type: disc ;
  color: #535353;
}


.access-drop-box{
  position: absolute;
  top: 85px;
  left: 715px;
  width: 150px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  display: none;
  animation: header-anim2;
  animation-duration: 0.5s;
  transform: translate(-30px, 0);
  transition: all 0.5s ease;
}

.access-list{
  padding: 20px;
  list-style-type:square;
  color: #535353;
}
.acces-item{
  font-size: 14px;
  color: #535353d7;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease;
}
.acces-item:not(:last-child){
  margin-bottom: 10px;
}

.access-drop-box2{
  position: absolute;
  top: 105px;
  left: 715px;
  width: 150px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  display: none;
  animation: header-anim2;
  animation-duration: 0.5s;
  transform: translate(-30px, 0);
  transition: all 0.5s ease;
}
.access-drop-box3{
  position: absolute;
  top: 140px;
  left: 715px;
  width: 150px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  display: none;
  animation: header-anim2;
  animation-duration: 0.5s;
  transform: translate(-30px, 0);
  transition: all 0.5s ease;
}
.access-drop-box4{
  position: absolute;
  top: 180px;
  left: 715px;
  width: 150px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  display: none;
  animation: header-anim2;
  animation-duration: 0.5s;
  transform: translate(-30px, 0);
  transition: all 0.5s ease;
}
.access-drop-box5{
  position: absolute;
  top: 216px;
  left: 715px;
  width: 150px;
  background-color: #fff;
  transition-duration: 0.4s;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  display: none;
  animation: header-anim2;
  animation-duration: 0.5s;
  transform: translate(-30px, 0);
  transition: all 0.5s ease;
}
@keyframes header-anim2{
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(-30px, 0);
  }
}
.categ-item:nth-child(2):hover .access-drop-box{
  left: 720px;
  display: block;
}
.categ-item:nth-child(3):hover .access-drop-box2{
  left: 720px;
  display: block;
}
.categ-item:nth-child(4):hover .access-drop-box3{
  left: 720px;
  display: block;
}
.categ-item:nth-child(5):hover .access-drop-box4{
  left: 720px;
  display: block;
}
.categ-item:nth-child(6):hover .access-drop-box5{
  left: 720px;
  display: block;
}


.hero-section{
  margin-top: 100px;
  z-index: -1;
  overflow: hidden;
}
.hero-img{
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/chair.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-inner{
  padding-top: 235px;
}
.hero-text{
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.hero-title{
  text-transform: capitalize;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}
.hero-block{
  padding-left: 170px;
}
/* .hero-info{
  width: 0;
  overflow: hidden;
  height: 100px;
  transition: all 4s 2s ease infinite;
  position: relative;
  animation: hero-anim;
  white-space: nowrap;
}
.hero-block{
  position: absolute;
}
@keyframes hero-anim {
  100%{
    width: 600px;
  }
  
} */


/* .flur{
  position: absolute;
  left: 0;
  background-color: #4c8fe6;
  height: 100px;
  width: 590px;
} */
/* 
.hero-nfo:hover{
  width: 100%;
} */


.discow{
  background-color: #fff;
  color: #000;
  padding: 12px 10px ;
  font-size: 10px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 110px;
}






























.searchbox{
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease;
}
.pesonbtn{
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
}
.korzina{
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
}

.searchmodalbox{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 100;
}
.searchinner{
  position: absolute;
  top:0;
  left: 0;
  padding: 100px 20px;
}
.searchinput{
  width: 97vw;
  height: 100px;
  border: none;
  border-bottom: 4px solid #535353;
  margin-bottom: 50px;
}
.input{
  width: 95%;
  border: none; 
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 500; 
  outline: none;
 
}

.serachimg{
  color: #535353;
  font-size: 40px;
  transition: all 0.4s ease;
}
.serachimg:hover{
  color: #D88F0F;
}
.modal-text{
  font-size: 16px;
  color: #2e2c2c;
  text-transform: lowercase;
  font-weight: 500;
  margin-bottom: 10px;
}
.modal-text2{
  text-transform: capitalize;
}

.remove{
  position: absolute;
  top: 24%;
  right: 3%;
  border: none;
  background-color: transparent;
  color: #535353;
  font-size: 40px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.remove:hover{
  color: #D88F0F;
}


.personmodalbox{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 370px;
  height: 100vh;
  display: none;
  z-index: 100;
}
.personinner{
  position: absolute;
  top:0;
  right: 0;
  padding: 60px 20px; 
}


.remove2{
  position: absolute;
  top: 4%;
  left: 5%;
  border: none;
  color: #535353;
  font-size: 20px;
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: 50%;
}
.in{
  margin-right: 30px;
}
.link-box{
  padding-top: 40px;
  margin-bottom: 20px;
}
.tophr{
  margin: 0 20px;
  border-right: 1px solid #53535371;
  width: 1px;
  height: 30px;
  background-color: #53535375;
  color: #53535350;
}
.signin{
  text-transform: uppercase;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
 
}
.regitsr{
  margin-left: 30px;
  color: #535353b7;
}

.input-label{
  width: 320px;
  border: 1px solid #53535356;
  outline: none;
  padding:18px  10px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.btn-form{
  border: none;
  background-color: #000;
  color: #fff;
  width: 320px;
  padding: 18px 10px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 15px;
}
.forgot-link{
  color: #53535388;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
}

.comp-text{
  text-decoration: none;
  padding: 10px 0;  
  color: #2e2d2d;
  font-size: 16px;
  display: block;
  margin-bottom: 20px;
  text-transform: capitalize;
  border-bottom: 1px solid #5353532a;
}


.korzinamodalbox{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 370px;
  height: 100vh;
  display: none;
  z-index: 100;
}
.korzininner{
  position: absolute;
  top:0;
}
.korzinbox{
  width: 370px;
  height: 60px;
  background-color: rgba(226, 215, 215, 0.678);
  margin-bottom: 30px;
}
.remove3{
  position: absolute;
  top: 10%;
  left: 2%;
  border: none;
  color: #535353ce;
  font-size: 16px;
  background-color: transparent;
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 10px 14px;
}
.card-text{
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.863);
  text-transform: uppercase;
  font-weight: 600;

}
.cards-text{
  color: #535353;
  font-size: 16px;
  text-align: center;
  letter-spacing:1.2;
}
.show{
  display: block;
  animation: show 0.4s ease;
}

@keyframes show {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
